* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
:root {
    --bgccolor: #c92a2a;
    --textcolor: #c0ce1e;
    --widthh: 200px;
}
.div1{
    width: var(--widthh);
    height: 400px;
    background-color: var(--bgccolor);
    color: var(--textcolor);
}
.div2{
    width: var(--widthh);
    height: 400px;
    background-color: var(--bgccolor);
    color: var(--textcolor);
}
